// Global

.container {
  max-width: 880px;
}

// Hero
.hero {
  min-height: 500px;
  background: url("../img/ter.jpg") center center;
  background-color: rgba(153, 147, 147, 0.267);
  background-blend-mode: multiply;
  background-size: cover;
  position: relative;
  @media (max-width: 580px) {
    background-image: url("../img/ter_media.jpg");
  }
}

.navbar {
  padding: 0 0;
  background-color: rgba(56, 56, 56, 0.247);
  width: auto;
  margin: 0 auto;
  transition: padding 300ms ease-in-out;
}

.container-nav {
  padding: 15px 15px;
  width: 90%;
  display: inline-block;
}

.nav-link {
  font-size: large;
}

// Ci sposiamo
.ci-sposiamo {
  background-color: whitesmoke;
}
.cd-title {
  font-family: "Dancing Script";
  font-size: 60px;
  color: $txt-primary;
}

.cd-data {
  font-family: "Dancing Script";
  font-size: 40px;
  color: $txt-primary;
}

.cd-time {
  font-family: "Dancing Script";
  font-size: 30px;
  color: $txt-primary;
}

// Cerimonia
.chiesa {
  height: 300px;
  width: auto;
  background-image: url("../img/scroce.jpg");
  background-position: center center;
  background-size: cover;
  background-color: rgba(73, 69, 69, 0.404);
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  // padding-top: 2rem;
  // position: relative;
  text-align: center;
  h5,
  h3,
  p {
    color: whitesmoke;
  }
}

// Noi 2
.noi-2 {
  display: none;
}

.noi-2-part {
  max-height: 500px;
  height: auto;
  width: auto;
  @media (max-width: 580px) {
    max-width: 60%;
    height: auto;
    width: auto;
  }
}

// Countdown
.cd-num {
  text-align: center;
  color: $txt-secondary;
  p {
    color: $txt-secondary;
    margin-bottom: 0;
  }
}

.cd-manc {
  text-align: center;
  color: $txt-secondary;
  font-size: 20px;
}

.cd-icon {
  margin-top: 0.6rem;
  margin-right: 0.5rem;
  text-align: center;
  color: $txt-secondary;
  @media (max-width: 580px) {
    padding-bottom: 1rem;
    // visibility: hidden;
  }
}

// Footer
footer {
  background-color: rgba(255, 240, 197, 0.534);
  padding: 1rem;
}
