// Text colours
$txt-primary: #074a96fa;
// body font
$txt-secondary: #7287bb;
// heading font
$txt-light: #fff;
// header/hero
$txt-accent: #acb1b4;
$form-placeholder: #bcc1c3;
// form placeholder text
// Global colours
$accent-color: #e8ca6f;
// global accent colour
$accent-color-hover: #d3b56a;
// global accent colour hover
$white-color: #fff;
$black-color: #000;
// Typography colours
$h2-color: #3d4351;
$h3-color: #3d4351;
$h5-color: #3d4351;
// Layout colours
$section-light: #fff;
$section-dark: #f8f9fd;
$to-top-bg: #495061;
$footer-primary: #3d4351;
$footer-secondary: #373d4a;
// Keylines
$keyline-color: #e6e9ea;
$footer-keyline-color: #4e566c;
